<header class="masthead">
  <div class="container espacio-superior text-center">
    <div class="masthead-subheading m-4">
      <strong>FENIX</strong> es la forma más fácil para que líderes y pastores
      administren y monitoreen los procesos en la iglesia, orientados en un
      trabajo pastoral efectivo.
    </div>
    <div class="masthead-heading text-uppercase m-4">
      SIMPLIFICA LA GESTIÓN DE<br />
      LA INFORMACIÓN DE TU MINISTERIO
    </div>
    <a
      class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mb-4"
      href="#services"
      >CONOCE MAS</a
    >
  </div>
</header>
<!-----------------------------------------FIN INTRODUCCIÓN------------------------------------------------------>

<!---------------------------------INICIO QUE ES FENIX MINISTERIAL------------------------------------------------>

<section class="page-section m-4" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">¿QUE ES FÉNIX MINISTERIAL?</h2>
      <h3 class="section-subheading text-muted">
        FÉNIX, el Software que Necesita tu Iglesia.
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Solución Para tu Iglesia</h4>
        <p class="text-muted">
          FÉNIX, centralizar y gestionar la información de sus miembros y
          ministerios de manera rápida y organizada. A través de sus
          dispositivos móviles en para que cada líder pueda reportar el
          seguimiento de los procesos de las personas bajo su cuidado, reportar
          lo ocurrido semanalmente y llevar un registro de lo que ocurre en su
          ministerio.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-chart-bar fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Monitorea los Procesos</h4>
        <p class="text-muted">
          Mide el crecimiento espiritual de las personas: nuevos, liderazgo,
          escuela, casa de restauracion y mucho mas. Fenix se ajusta a la forma
          de trabajo de tu Iglesia y te permite que el liderazgo pueda tomar
          decisiones oportunas y potencializar sus objetivos eclesiales con base
          en informes y estadísticas en tiempo real.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Tu Ministerio al Día</h4>
        <p class="text-muted">
          Crea múltiples perfiles y usuarios para que tus líderes reporten en
          línea lo que sucede día a día con las personas y grupos a su cargo.
          Puedes acceder a tus datos desde cualquier parte del mundo. La
          información de tu iglesia en un sólo lugar para que gestiones de
          manera oportuna permitiendote ahorrar tiempo y recursos.
        </p>
      </div>
    </div>
  </div>
</section>
<app-modulos></app-modulos>
<app-planes></app-planes>
<app-contactanos></app-contactanos>
