<aside>
    <img class="logo" src="../../assets/img/logo.png" alt="logo-fenix">
    <nav>
        <p *ngIf='auth.obtenerRol()==="admin"' routerLink='/crear-admin'><i class="fas fa-user-plus"></i>CREAR ADMINISTRADOR</p>
        <p routerLink='/consolidacion'><i class="fas fa-users"></i>CONSOLIDACIÓN</p>
        <p routerLink='/ministerios'><i class="fas fa-church"></i>MINISTERIOS</p>
        <p routerLink='/grupos-estudio'><i class="fas fa-university"></i>GRUPOS DE ESTUDIO</p>
        <p routerLink='/aportes'><i class="fas fa-hands"></i>APORTES</p>
        <p (click)='auth.cerrarSesion()'><i class="fas fa-sign-out-alt" ></i>SALIR</p>
    </nav>
    
</aside>
