<main id="main">
  <app-aside></app-aside>
  <section>
    <h4 class="titulo">CONSOLIDACIÓN</h4>
    <p class="crecimiento">Módulo Consolidación.</p>

    <div class="tabla">
      <div class="busqueda">
        <div class="botones">
          <i class="fas fa-file-excel"></i>
          <!-- <i (click)="generarPDFCons()" class="fas fa-file-pdf"></i> -->
          <i (click)="generarPDFCons()" class="fas fa-file-pdf"></i>
          <i class="fas fa-print"></i>
        </div>

        <div class="padre">
          <div class="padre-input">
            <i class="fas fa-search"></i>
            <input
              class="bu"
              type="text"
              placeholder="Buscar"
              [(ngModel)]="busqueda"
              (ngModelChange)="filtrar()"
            />
          </div>

          <button class="nuevo-feligres" (click)="agregarFeligres()">
            <i class="fas fa-user-plus"></i>
            Nuevo Feligres
          </button>
        </div>
      </div>

      <table id="t-consolidacion">
        <thead>
          <tr>
            <th>
              Nombres
              <i
                class="fas fa-long-arrow-alt-up flecha activo"
                (click)="nombreAscendente()"
                id="na"
              ></i>
              <i
                class="fas fa-long-arrow-alt-down flecha"
                (click)="nombreDescendente()"
                id="nz"
              ></i>
            </th>
            <th>
              Apellidos
              <i
                class="fas fa-long-arrow-alt-up flecha"
                (click)="apellidoAscendente()"
                id="aa"
              ></i>
              <i
                class="fas fa-long-arrow-alt-down flecha"
                (click)="apellidoDescendente()"
                id="az"
              ></i>
            </th>
            <th>Doc</th>
            <th>N° Documento</th>
            <th>Género</th>
            <th>
              Edad
              <i
                class="fas fa-long-arrow-alt-up flecha"
                (click)="edadAscendente()"
                id="eda"
              ></i>
              <i
                class="fas fa-long-arrow-alt-down flecha"
                (click)="edadDescendente()"
                id="edz"
              ></i>
            </th>
            <th>Celular</th>
            <th>
              Email
              <i
                class="fas fa-long-arrow-alt-up flecha"
                (click)="emailAscendente()"
                id="ema"
              ></i>
              <i
                class="fas fa-long-arrow-alt-down flecha"
                (click)="emailDescendente()"
                id="emz"
              ></i>
            </th>
            <th>
              Ministerio
              <i
                class="fas fa-long-arrow-alt-up flecha"
                (click)="ministerioAscendente()"
                id="ma"
              ></i>
              <i
                class="fas fa-long-arrow-alt-down flecha"
                (click)="ministerioDescendente()"
                id="mz"
              ></i>
            </th>
            <th>
              Grupo
              <i
                class="fas fa-long-arrow-alt-up flecha"
                (click)="grupoAscendente()"
                id="ga"
              ></i>
              <i
                class="fas fa-long-arrow-alt-down flecha"
                (click)="grupoDescendente()"
                id="gz"
              ></i>
            </th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feligres of feligreses">
            <td>{{ feligres.nombres }}</td>
            <td>{{ feligres.apellidos }}</td>
            <td>{{ feligres.doc }}</td>
            <td>{{ feligres.documento }}</td>
            <td>{{ feligres.genero }}</td>
            <td>{{ feligres.edad }}</td>
            <td>{{ feligres.celular }}</td>
            <td>{{ feligres.correo }}</td>
            <td>{{ feligres.ministerio }}</td>
            <td>{{ feligres.grupo }}</td>
            <td>
              <i
                class="fas fa-trash icono-accion eliminar"
                (click)="eliminarFeligres(feligres._id)"
              ></i>
              <i
                class="fas fa-pencil-alt icono-accion"
                (click)="guardarDatosFeligres(feligres._id, feligres)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>

<form #heroForm="ngForm" class="formulario-consolidacion" id="consolidacion">
  <div class="titulo-formulario">
    <p>{{ crear ? "Agregar" : "Editar" }} Feligres</p>
    <span (click)="ocultarFormulario()">x</span>
  </div>

  <div class="grupo-formulario">
    <input
      [(ngModel)]="datosFeligres.nombres"
      name="nombres"
      required
      type="text"
    />
    <label>Nombres</label>
  </div>
  <div class="grupo-formulario">
    <input
      [(ngModel)]="datosFeligres.apellidos"
      name="apellidos"
      required
      type="text"
    />
    <label>Apellidos</label>
  </div>
  <div class="grupo-formulario">
    <select name="doc" [(ngModel)]="datosFeligres.doc">
      <option value="">Tipo de documento</option>
      <option value="TI">Tarjeta de identidad</option>
      <option value="CC">Cédula de ciudadania</option>
      <option value="CE">Cédula extranjera</option>
      <option value="N/A">Otra</option>
    </select>
  </div>
  <div class="grupo-formulario">
    <input
      [(ngModel)]="datosFeligres.documento"
      maxlength="10"
      name="documento"
      required
      type="text"
    />
    <label>Cédula</label>
  </div>

  <div class="grupo-formulario">
    <select name="genero" [(ngModel)]="datosFeligres.genero">
      <option value="">Selecciona tu género</option>
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
    </select>
  </div>
  <div class="grupo-formulario">
    <input
      [(ngModel)]="datosFeligres.edad"
      name="edad"
      required
      type="number"
    />
    <label>Edad</label>
  </div>
  <div class="grupo-formulario">
    <input
      [(ngModel)]="datosFeligres.celular"
      maxlength="10"
      name="celular"
      required
      type="text"
    />
    <label>Celular</label>
  </div>
  <div class="grupo-formulario">
    <input
      [(ngModel)]="datosFeligres.correo"
      maxlength="20"
      name="correo"
      required
      type="text"
    />
    <label>Email</label>
  </div>

  <div class="grupo-formulario">
    <select name="ministerio" [(ngModel)]="datosFeligres.ministerio">
      <option value="">Selecciona un ministerio</option>
      <option value="Alabanza">Alabanza</option>
      <option value="Ujieres">Ujieres</option>
      <option value="Audiovisuales">Audiovisuales</option>
      <option value="Intercesión">Intercesión</option>
      <option value="Juvenil">Juvenil</option>
      <option value="Infantil">Infantil</option>
      <option value="Ninguno">Ninguno</option>
    </select>
  </div>

  <div class="grupo-formulario">
    <select name="grupo" [(ngModel)]="datosFeligres.grupo">
      <option value="">Selecciona un grupo</option>
      <option
        *ngIf="
          auth.obtenerRol() === 'admin' ||
          auth.obtenerRol() === 'Escuela de siervos'
        "
        value="Escuela de siervos"
      >
        Escuela de siervos
      </option>
      <option
        *ngIf="
          auth.obtenerRol() === 'admin' || auth.obtenerRol() === 'Restauración'
        "
        value="Restauración"
      >
        Casas de restauración
      </option>
      <option
        *ngIf="
          auth.obtenerRol() === 'admin' || auth.obtenerRol() === 'Dominical'
        "
        value="Escuela dominical"
      >
        Escuela dominical
      </option>
      <option
        *ngIf="auth.obtenerRol() === 'admin' || auth.obtenerRol() === 'Celulas'"
        value="Celulas"
      >
        Celulas
      </option>
      <option value="Ninguno">Ninguno</option>
    </select>
  </div>

  <div *ngIf="incompletos" class="error-contraseña">
    Todos los campos son obligatorios
  </div>
  <div *ngIf="email" class="error-contraseña">Dirección de correo invalida</div>
  <div *ngIf="existe" class="error-contraseña">
    Ya hay un usuario registrado con este correo
  </div>

  <button *ngIf="crear" class="btn-agregar" (click)="postearFeligres($event)">
    Agregar
  </button>
  <button *ngIf="!crear" class="btn-agregar" (click)="editarFeligres($event)">
    Guardar
  </button>
</form>
