<section class="page-section espacio-superior-mod" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">MÓDULOS</h2>
      <h3 class="section-subheading text-muted">
        Te ayudamos a administrar toda tu Iglesia para que te encargues de lo
        realmente importante.<br />Ahorro de tiempo y toma de decisiones a
        través de informes en tiempo real.
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/1.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>CONSOLIDACIÓN</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Registre la información de los nuevos asistentes y miembros
              regulares de su iglesia con el propósito de fortalecer el proceso
              de consolidación, hacer seguimiento del crecimiento ministerial y
              obtener datos cuantitativos e informes sobre: zonas de ubicación,
              número de convertidos por meses, número de personas vinculadas a
              ciertos ministerios, estado del seguimiento y líder asignado,
              entre otros.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/2.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">MINISTERIOS</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Realice un seguimiento de los ministerios, liderazgo encargado y
              miembros que conforman cada equipo. Obtenga informes como: tiempo
              de ejercicio ministerial, número de integrantes por ministerio,
              escalas de crecimiento por fechas, entre otros.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/3.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">INDICADORES Y SEGUIMIENTOS</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Tenga estadisticas completas de toda la información de su iglesia,
              reportes en tiempo real y fáciles de usar.<br />
              A través de este módulo podrá conocer el crecimiento espiritual de
              cada uno de sus miembros
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/4.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Grupos de Estudio</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Centralice los datos de líderes, zonas de ubicación y número de
              asistentes a las casas de restauracion, escuelas, células o grupos
              de su iglesia, con el fin de tener informes sobre los resultados
              de crecimiento y gestionar a los asistentes.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/5.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">APORTES</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Tenga claridad sobre la administración de las finanzas de su
              iglesia o específicamente de algún ministerio a través del
              registro organizado de los ingresos y egresos por fechas, concepto
              y detalles.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Se parte
            <br />
            de nuestra
            <br />
            historia!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
