<section class="page-section espacio-superior-plan">
  <div class="text-center" id="portafalio">
    <h2 class="section-heading text-uppercase">PLANES</h2>
    <h3 class="section-subheading text-muted">
      Adquiere el plan que más se ajuste a las necesidades de tu comunidad
    </h3>
  </div>
  <div class="container cambio-fuente">
    <div class="row">
      <div class="card-deck mb-3 text-center">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm animacion">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal text-primary">Básico</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                $250.000 <small class="text-muted">/ mes</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>250 miembros</li>
                <li>15 usuarios</li>
                <li>Registro de personas</li>
                <li>Grupos de estudio</li>
                <li>Registro de asistencias</li>
                <li>Indicadores y seguimiento</li>
                <li>Certificados</li>
                <li>1 Iglesia</li>
              </ul>
              <button
                type="button"
                class="btn btn-lg btn-block btn-outline-primary"
              >
                Suscríbete
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm animacion">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal text-primary">Estandar</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                650.000 <small class="text-muted">/ mes</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>500 miembros por Iglesia</li>
                <li>50 usuarios</li>
                <li>Registro de personas</li>
                <li>Grupos de estudio</li>
                <li>Ministerios</li>
                <li>Registro de asistencias</li>
                <li>Indicadores y seguimiento</li>
                <li>Aportes</li>
                <li>Certificados</li>
                <li>2 Iglesias</li>
              </ul>
              <button
                type="button"
                class="btn btn-lg btn-block btn-outline-primary"
              >
                Suscríbete
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm animacion">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal text-primary">Premium</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                1.500.000 <small class="text-muted">/ mes</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>4000 miembros por Iglesia</li>
                <li>80 usuarios</li>
                <li>Registro de personas</li>
                <li>Ministerios</li>
                <li>Grupos de estudio</li>
                <li>Registro de asistencias</li>
                <li>Indicadores y seguimiento</li>
                <li>Aportes</li>
                <li>Certificados</li>
                <li>Hasta 5 Iglesias</li>
              </ul>

              <button
                type="button"
                class="btn btn-lg btn-block btn-outline-primary"
              >
                Suscríbete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Equipo Desarrollador</h2>
      <h3 class="section-subheading text-muted">
        Este sitio Fue diseñado y Elaborado por los Mejores.
      </h3>
    </div>
    <div class="row m-4">
      <div class="col-lg-3">
        <div class="team-member text-center">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/Yisel.jpg"
            alt=""
          />
          <h4>Yisel Gutiérrez</h4>

          <p class="text-muted">Product Owner</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fa fa-phone"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member text-center">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/Camilo.jpg"
            alt=""
          />
          <h4>Camilo Sánchez</h4>
          <p class="text-muted">Lider De Proyecto</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fa fa-phone"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member text-center">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/Wernher.jpg"
            alt=""
          />
          <h4>Wernher Reina</h4>
          <p class="text-muted">Líder de Desarrollo</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fa fa-phone"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member text-center">
          <img
            class="rounded-circle img-fluid"
            src="../../../assets/img/Yurani.jpg"
            alt=""
          />
          <h4>Yurani Estrada</h4>
          <p class="text-muted">Scrum Master</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fa fa-phone"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted m-4">
          Contamos con el equipo de Desarrollo y Soporte mejor calificado.
        </p>
      </div>
    </div>
  </div>
</section>
