<header *ngIf="logueado">
  <div class="cont-nombre">
    <h3 class="titulo">FÉNIX MINISTERIAL</h3>
  </div>

  <div class="grupo-input">
    <input type="text" placeholder="Buscar" />
    <i class="fas fa-search icono-lupa"></i>
  </div>
</header>

<header class="header2 fixed-top" *ngIf="!logueado">
  <img class="logo" src="../../assets/img/logo.png" alt="imagen" />
  <nav class="menu">
    <a routerLink=""><i class="fas fa-home"></i>HOME</a>
    <a routerLink="/modulos"><i class="fas fa-toolbox"></i>MÓDULOS</a>
    <a routerLink="/planes"><i class="fas fa-credit-card"></i>PLANES</a>
    <a routerLink="/contactanos"
      ><i class="fas fa-address-book"></i>CONTÁCTANOS</a
    >
    <a routerLink="/login"><i class="fas fa-user"></i> INICIAR SESIÓN</a>
  </nav>
</header>
