*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Roboto';
   margin: 0;
   height: 100vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
button{
    transition: .4s all;
}
button:active{
    transform: scale(.97);
}